type sysfs_devices_tegradc, fs_type, sysfs_type;
type sysfs_modules_tegrafuse, fs_type, sysfs_type;
type sysfs_devices_nvavp, fs_type, sysfs_type;
ifelse(android_api_n_mr1_or_later,  `true', `
  type debugfs_pmqos, fs_type, debugfs_type;'
, `
  type debugfs_pmqos, fs_type, sysfs_type;')
