allow system_server { knv_device pmqos_device }:chr_file rw_file_perms;
allow system_server sysfs_devices_tegradc:dir search;
allow system_server sysfs_devices_nvavp:file { open write };
allow system_server sysfs_modules_tegrafuse:file r_file_perms;
