import init.tegra3.power.rc

service tf_daemon /system/bin/tf_daemon -storageDir /data/tf -d
    class main
    user root
    group shell

# tf_daemon may restart due to /data/tf not existing yet
on property:init.svc.tf_daemon=restarting
    mkdir /data/tf
